/*css file for personal website*/

body {
    background-color:rgb(255,236,142);
}

h1 {
    position: center;
    font-size: 20;
    color: f07167;
}

.cm {
    font-family: comp;
}

p {
    position: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12;
    color: antiquewhite;
}   


@font-face {
    font-family: "Computer Modern ";
    src: url(ace.ttf);
    }
